/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   will be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

:root {
   --bg: #fffee3; 
   --bg2: #fefff3;

   --mGrijs: #575A5E;
   --mGroen: #28a739;

   --main_font: "Raleway", sans-serif;
}

body {
   background: linear-gradient(90deg, var(--bg) 0%, var(--bg2) 50%, var(--bg) 100% );
   min-height: 100svh;
   display: grid;
   grid-template-areas: 
   "header nav"
   "tekst fotos"
   "footer footer";
   grid-template-columns: 2.5fr 1.5fr;
   grid-template-rows: 100px 1fr 11px;
}

header {
   grid-area: header;
   border-bottom: solid var(--mGrijs);
   border-bottom-width: 1px;
}

header h1 {
   color: var(--mGrijs);
   font-weight: 450;
   padding: 25px;
   margin: 5px;
   font-family: var(--main_font);
}

/* 
#2E2E2E Zwart
#F5F5F5 Wit
#B22222 Roof
#E57373 Roze/Rood
#FFFFFF Wit
*/

nav {
   grid-area: nav;
   border-bottom: solid var(--mGrijs);
   border-bottom-width: 1px;
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
   margin-top: 40px;
   margin-right: 40px;
}

nav a {
   text-decoration: none;
   color: var(--mGrijs);
   font-family: var(--main_font);
   font-size: 20px;
   transition: 0.4s ease;
}

nav a:hover{
   color: var(--mGroen);
}

main {
   grid-area: tekst;
   font-family: var(--main_font);
}

main p {
   margin-left: 90px;
   margin-top: 65px;
}

.fotos {
   grid-area: fotos;
}

footer {
   grid-area: footer;
   color: var(--mGrijs);
   font-family: var(--main_font);
   font-size: 12px;
   border-top: solid var(--mGrijs);
   border-top-width: 1px;
   padding-top: 3px;
}
